<ion-footer class="footer">
  <div class="footer-container">

   
    <div class="social">
      <a href="https://facebook.com" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>

      <a href="https://instagram.com" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>

      <a href="https://wa.me/593000000000" target="_blank">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>
    </div>

    <div class="menu">
      <a routerLink="/nosotros"> Nosotros</a>
      <a routerLink="/preguntas"> Preguntas frecuentes</a>
      <a routerLink="/horarios"> Horarios</a>
    
    </div>

    <p class="copy">© 2025 Mi Tienda. Todos los derechos reservados.</p>

   
  </div>
</ion-footer>