.footer {
    padding: 12px 0;
    border-top: 1px solid #111311;

}

.footer-container {
    text-align: center;
}

.menu{
    margin-top: 10px;
}
.menu a{
    margin: 5px 25px;
    font-size: 15px;
    color: #14a51e;
}

.menu a:hover{
    color: #14a51e;
    text-decoration: underline;
}