.contenedor-ktm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.imagen-ktm{
    width: 100%;
    max-width: 350px;
    border-radius: 18px;
    padding: 10px;
    box-shadow: 0px 8px 20px rgb(10, 154, 10);
}

.carg{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}