<app-headerglobal></app-headerglobal>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ producto.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="contenedor-ktm">

    <img [src]="producto.imagen" class="imagen-ktm"/>

    <h1 class="titulo-ktm">{{ producto.titulo }}</h1>

    <h2 class="precio-ktm">Precio: ${{ producto.precio }}</h2>

    <p class="descripcion-ktm">
      {{ producto.descripcion }}
    </p>
   <h3 class="subtitulo-ktm">Especificaciones</h3>

    <p class="especificaciones-ktm">
     {{ producto.especificaciones }}
    </p>

  </div>

</ion-content>


