<app-headerglobal></app-headerglobal>

<ion-content>

  <app-header-global titulo="Horarios"></app-header-global>

  <div class="container-horarios">

    <h2 class="titulo">Horarios de Atención</h2>

    <p class="texto">
      Estos son los horarios disponibles para nuestros servicios.
    </p>

    <table class="tabla-horarios">
      <tr>
        <th>Día</th>
        <th>Horario</th>
      </tr>
      <tr>
        <td>Lunes - Viernes</td>
        <td>08:00 - 17:00</td>
      </tr>
      <tr>
        <td>Sábado</td>
        <td>09:00 - 13:00</td>
      </tr>
      <tr>
        <td>Domingo</td>
        <td>Cerrado</td>
      </tr>
    </table>

  </div>

</ion-content>
