ion-content {
  --padding-start: 15px;
  --padding-end: 15px;
  display: block;
  background: #189318c4;
}

ion-content .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
}

ion-card {
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  background: #237223;
  box-shadow: 0 4px 15px rgba(59, 164, 27, 0.808);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

ion-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 22px 22px 0 0;
  transition: transform 0.6s ease;
}

/* Hover SOLO en PC */
@media (hover: hover) {
  ion-card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 25px rgba(57, 187, 21, 0.25);
  }

  ion-card:hover img {
    transform: scale(1.2);
  }
}


.glow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 18px 0;
}

.search-wrapper {
  position: relative;
  background: #171a16;
  padding: 12px 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  animation: glowing 3s infinite alternate ease-in-out;
  transition: 0.3s ease-in-out;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #7a00ff, 0 0 20px #7a00ff;
  }
  50% {
    box-shadow: 0 0 12px #189318, 0 0 25px #189318;
  }
  100% {
    box-shadow: 0 0 15px #ff00d9, 0 0 30px #ff00d9;
  }
}

.glow-input {
  flex: 1;
  background: transparent;
  border: none;
  color: #189318;
  font-size: 16px;
  outline: none;
}

.icon-search,
.icon-filter {
  font-size: 22px;
  color: #22ac39;
}

/* =======================
   MENÚ DE CATEGORÍAS
======================= */
.categorias {
  background: #d6dbd6;
  border-bottom: 1px solid #e5ede5c4;
  padding: 25px 0;
}

/* MENÚ PRINCIPAL HORIZONTAL */
.menu-horizontal {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 0;
  padding: 10px 16px;
}

/* Item padre */
.menu-horizontal .item {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  color: #f5f8f5;
  transition: color 0.3s;
}

.menu-horizontal .item:hover {
  color: #d1e3d1;
}


.submenu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;

  background-color: #eef2ee;
  padding: 10px 0;
  margin: 0;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;

  transition: all 0.3s ease;
  z-index: 999;
}

/* MOSTRAR SUBMENÚ AL HOVER */
.menu-horizontal .item:hover .submenu {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

/* ÍTEMS DEL SUBMENÚ */
.submenu li {
  padding: 8px 20px;
  cursor: pointer;
  color: #279927;
  transition: background-color 0.3s, color 0.3s;
}

.submenu li:hover {
  background-color: #1ea41ec4;
  color: #28b328;
}

ion-content {
  padding-bottom: 80px; /* espacio para footer */
}
