<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>KTM</ion-card-title>
    <ion-card-subtitle>KTM Motors</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/img/ktm creoos.jpg" />
        </ion-thumbnail>
        <ion-label>KTM Croos</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/img/moto.webp" />
        </ion-thumbnail>
        <ion-label>KTM Deportiva</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/img/ktm creoos.jpg" />
        </ion-thumbnail>
        <ion-label>KTM Cross</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/moto.webp" />
        </ion-thumbnail>
        <ion-label>KTM Deportiva</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>











  <ion-card class="2">
   <ion-img src="assets/img/ktm creoos.jpg"    class="imagenes" >
     </ion-img>
   <ion-card-header>
     <ion-card-title> KTM Moto Cross</ion-card-title>
     <ion-card-subtitlte class = "danger"> precio $3500 </ion-card-subtitlte>
     </ion-card-header> 
 
   </ion-card>






 <ion-card class="3">
   <ion-text><ion-img src="assets/img/moto.webp"    class="imagenes" >
     </ion-img>

        <ion-text> 
    <h2> Ktm moto Deportiva </h2>           
   </ion-text>

     <ion-text color = "success"> 
      <h2> precio $4000 </h2>           
   </ion-text> 




   </ion-text>




    </ion-card>















  </ion-content> 


