ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  display: block;
  background: #189318c4;
}

/* Grid moderno para las cards */
ion-content .card-grid {
  display: grid;

  /* columnas y filas */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);

  gap: 18px;
}

/* Diseño de cards*/
ion-card {
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  background: #237223;

  /* Sombra suave tipo */
  box-shadow: 0 4px 15px rgba(59, 164, 27, 0.808);

  /* Transición */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Imagen con efecto zoom */
ion-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;

  transition: transform 0.6s ease;
  border-radius: 22px 22px 0 0;
}

.motocross {
  color: #189318;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

/* EFECTO DE HOVER */
ion-card:hover {
  transform: scale(1.06);

  /* Sombra más profunda al pasar el mouse */
  box-shadow: 0 10px 25px rgba(57, 187, 21, 0.25);
}

/* Imagen zoom al hover */
ion-card:hover img {
  transform: scale(1.2);
}

/* Suaviza el movimiento */
ion-card,
ion-card img {
  transition: all 0.4s ease-in-out;
}


/* BARRA DE BÚSQUEDA GLOWING CON EFECTO DE COLORES */
.glow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 18px 0;
}

.search-wrapper {
  position: relative;
  background:#171a16;
  padding: 12px 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 50px;

  display: flex;
  align-items: center;

  /* Efecto glow animado */
  animation: glowing 3s infinite alternate ease-in-out;

  /* Suavidad */
  transition: 0.3s ease-in-out;
}

/*Efecto glowing dinámico real */
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #7a00ff, 0 0 20px #7a00ff;
  }
  50% {
    box-shadow: 0 0 12px #189318, 0 0 25px #189318;
  }
  100% {
    box-shadow: 0 0 15px #ff00d9, 0 0 30px #ff00d9;
  }
}

/* Input */
.glow-input {
  flex: 1;
  background: transparent;
  border: none;
  color: #189318;
  font-size: 16px;
  outline: none;
}

/* Iconos */
.icon-search,
.icon-filter {
  font-size: 22px;
  color: #22ac39;
}

.categorias{
  background: #d6dbd6;
  border-bottom: 1px solid #e5ede5c4;
  padding: 25px 0;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.menu-horizontal .item{
  position: relative;
  padding: 8px 12px;
  cursor: pointer;
  color: #f5f8f5;
 transition:color 0.3s;
 font-weight:bold;
}

.menu-horizontal .item:hover{
  color:#d1e3d1;
}

.submenu{
  list-style: none;
  display: flex;
  top: 30px;
  left: 0;
  position: absolute;
  background-color:#eef2ee;
  padding: 10px 0;
  margin: 0;
  min-width: 100px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 999;

  .submenu li{
    padding: 8px 20px;
    cursor: pointer;
    color: #279927;
    transition: background-color 0.3s, color 0.3s;
  }

  .submenu li:hover{
    background-color:#1ea41ec4;
    color:#28b328;
  }
  .submenu.activo {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}



}