<app-headerglobal></app-headerglobal>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KTM Motors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <nav class="categorias" >
    <ul class="menu-horizontal">
      <li class="item" *ngFor="let cat of categorias">
        {{cat.categorias}}
        <ul class="submenu">
          <li *ngFor="let sub of cat.subcategoria" (click)="filtrarPorSubcategoria(sub)">
            {{sub}}
          </li>
        </ul>
      </li>
    </ul>

  </nav>

  <!--  Barra de búsqueda glowing -->
  <div class="glow-container">
    <div class="search-wrapper">
      <ion-icon name="search-outline" class="icon-search"></ion-icon>

      <input
        id="search-input"
        placeholder="Buscar productos..."
        type="text"
        (input)="filtrar($event)"
        class="glow-input"
        autocomplete="on"
      />

      <ion-icon name="options-outline" class="icon-filter"></ion-icon>
    </div>
  </div>

  <div class="card-grid">
    <ion-card *ngFor="let p of productosfiltrados">
      <img [src]="p.imagen" (click)="verimagengrande(p)"/>

      <ion-card-header>
        <ion-card-title class="titulo" (click)="irktm(p)">{{ p.titulo }}</ion-card-title>
        <ion-card-subtitle color="success" class="precio">Precio: ${{ p.precio }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>

<app-footer-global></app-footer-global>




