ion-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba($color: #25ae13, $alpha: 1.0) ;
    width: 550px;

}

.img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;

} 
.danger{
    color: #25ae13;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;

}

.card{
    width: 550px;
    margin: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba($color: #25ae13, $alpha: 1.0);

}

