.container-nosotros {
  text-align: center;
}

.img-nosotros {
  width: 90%;
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 15px #17cf1d33;
  margin-bottom: 20px;
}

.titulo {
  color: #13b619;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.5rem;
}

.texto {
  color: #13b619;
  font-size: 1rem;
  padding: 0 10px;
  line-height: 1.4;
}