.cabecera {
  text-align: center;
  padding: 25px;
  background: linear-gradient(135deg, rgba(89, 169, 64, 0.266), rgba(184, 15, 15, 0.31));
}

.acordion {
  padding: 15px;
}

.header {
  background: #72444479;
  margin-bottom: 10px;
}

.faq-content {
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  background: #090404;
}
